<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#009578" />
    <title>Ninjutsu Clash</title>
    <!-- Links -->
    <!-- <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="favicon.png" /> -->
    <link href="../../dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <script src="../../node_modules/pixi.js/dist/browser/pixi.min.js"></script>
    <script src="../models/canvas_model.js"></script>
    <script src="../models/rotating_image_model.js"></script>
  </body>
</html>
